@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans);
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.buttonPrimary {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: var(--rounded-md);
  padding: 0.5em 0.8em;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.2s ease;
}

.buttonPrimary:hover {
  background-color: var(--accent-color-hover);
}

.buttonSecondary {
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--gray-alpha-300);
  border-radius: var(--rounded-md);
  padding: 0.5em 0.8em;
  cursor: pointer;
  font-size: medium;
  transition: all 0.2s ease;
}

.buttonSecondary:hover {
  background-color: var(--gray-alpha-100);
}