.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-right: 1em;
  opacity: 0.5;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-700);
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.3em 0.5rem;
  border: 1px solid var(--gray-100);
  appearance: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.2s ease;
  color: var(--foreground);
  background-color: var(--accent-color-alpha);
}

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
  border-color: var(--accent-color);
  background-color: var(--background);
  box-shadow: 0 0 0 3px var(--accent-color-alpha);
}

.inputGroup:focus-within {
  opacity: 1;
}

.input.error {
  border-color: var(--danger-color);
}

.input.error:focus {
  border-color: var(--danger-color);
  box-shadow: 0 0 0 3px var(--danger-color-alpha);
}

.errorText {
  font-size: 0.75rem;
  color: var(--danger-color);
  margin-top: 0.25rem;
}

.helperText {
  font-size: 0.75rem;
  color: var(--gray-500);
  margin-top: 0.25rem;
}